h1, h2, h3, h4, h5, h6 {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background:#cccccc;
    }
    
    #about{
       background: #24242a;
       padding: 60px 0;
      text-align: center;
      }

h6 {
        font-size: large;
        font-weight: bold;
        font-family: monospace;
    }
